fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.3
python-multipart==0.0.9
psycopg2-binary==2.9.9
asyncpg==0.29.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
python-dotenv==1.0.1
easyocr==1.7.2
Pillow>=10.0.0
numpy<2.0.0
opencv-python-headless>=4.8.0
huggingface_hub>=0.23.0
pyyaml>=6.0
openpyxl>=3.1.0
androguard==4.1.4
Appium-Python-Client>=3.1.0
